body {
  background-color: rgb(253, 251, 251);
  padding: 20px;
  line-height: 20px;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  width: 100%;
  height: 100px;
}

h1 {
  padding: 10px;
  margin: 0;
  text-align: center;
}

#minha_foto {
  width: 10%;
  margin-top: 90px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 20px;
}

section {
  font-family: "'Courier-New'", Courier, monospace;
  font-size: 20px;
}

ol {
  color: green;
}

.lado-esquerdo {
  display: inline-block;
}


ul {
  color: red;
}

.lado-direito {
  display: inline-block;
}

table {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.logoGit {
  width: 5%;
}

.statusOn {
  background-color: green;
}

.statusOff {
  background-color: red;
}
