body {
  background-color: rgb(253, 251, 251);
  background-image: url(https://image.freepik.com/vetores-gratis/fundo-branco-com-desenho-de-padrao-de-linha-hexagonal_1017-28442.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  padding: 20px;
  line-height: 30px;
  z-index: 1;

}

.bg-fundo {
  z-index: 2;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(159, 255, 159);
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 2px 2px 20px;
}

h1 {
  padding: 10px;
  margin: 0;
  text-align: center;
}

#minha_foto {
  width: 10%;
  margin-top: 90px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px;
}

a {
  position: absolute;
  top: 30px;
}

section {
  font-family: "'Courier-New'", Courier, monospace;
  font-size: 20px;
}

.left {
  position: absolute;
  font-family: Georgia, "'Times New Roman", Times, serif;
  line-height: 10px;
}

.right {
  position: absolute;
  font-family: Georgia, '"Times New Roman', Times, serif;
  line-height: 10px;
  margin-left: 480px;
}


ol {
  color: green;
}

.lado-esquerdo {
  display: inline-block;
}


ul {
  color: red;
}

.lado-direito {
  display: inline-block;
}

table {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.logoGit {
  margin-left: 50px;
  position: fixed;
  width: 5%;
}

.logolinkedin {
  position: fixed;
  width: 2%;
  margin-left: 140px;
  margin-top: 14px;
}

.statusOn {
  background-color: green;
}

.statusOff {
  background-color: red;
}
